body {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.page-header {
    background-color: rgb(56, 56, 56);
    padding: 8px 16px;
}

.page-header h1, p {
    margin: 0;
}

svg {
    border: 1px solid gray;
    display: block;
}

.panel {
    margin: 12px 0 0 0;
    float: left;
}

.filter-panel {
    margin-left: 12px;
}

.filter-panel h2, h3, p {
    margin: 0
}

.display-panel {
    margin-left: 12px;
    margin-bottom: 8px;
}

.gray-background {
    background-color: rgb(56, 56, 56);
}

.lighter-gray-background {
    background-color: gray;
}

.filter-section {
    padding: 8px;
}

.filter-title {
    padding: 18px 8px;
}

.input-container {
    padding-top: 8px;
    font-size: 14px;
}

.checkbox-grouping {
    float: left;
    padding-right: 48px;
}

.dropdown {
    width: 60px;
}

.inline {
    display: inline;
}

.range-text {
    padding: 0 8px;
}

table {
    border-collapse: collapse;
}

.table-headers {
    background-color: rgb(84, 114, 157)
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: gray;
}

.right-align-text {
    text-align: right;
}

#table-panel {
    overflow-y: overlay;
}