body {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.page-header {
    background-color: rgb(56, 56, 56);
    padding: 8px 16px;
}

.page-header h1, p {
    margin: 0;
}

svg {
    border: 1px solid gray;
    display: block;
}

.panel {
    margin: 12px 0 0 0;
    float: left;
}

.filter-panel {
    margin-left: 12px;
}

.filter-panel h2, h3, p {
    margin: 0
}

.average-panel {
    margin-left: 12px;
    margin-bottom: 8px;
}

.gray-background {
    background-color: rgb(56, 56, 56);
}

.lighter-gray-background {
    background-color: gray;
}

.filter-section {
    padding: 8px;
}

.filter-title {
    padding: 18px 8px;
}

.input-container {
    padding-top: 8px;
    font-size: 14px;
}

.checkbox-grouping {
    float: left;
    padding-right: 48px;
}

.dropdown {
    width: 70px;
}

.inline {
    display: inline;
}

.range-text {
    padding: 0 8px;
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid gray;
    text-align: left;
    padding: 8px;
}

.right-align-text {
    text-align: right;
}

/*  
I had to look up how to make a scrollable html table. I found that it was useful to place the table in <div> with the overflow property by reading:
https://stackoverflow.com/questions/11152327/how-to-make-html-table-vertically-scrollable
By playing around, I found that setting it as 'overlay' worked better than 'scroll' since it doesn't affect the size of the table element
*/
#table-panel {
    overflow-y: overlay;
}